<table class="table" id="existingTable">
	<thead>
		<tr>
			<th class="align-left">Flavor</th>
			<th class="align-left">Status</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td class="align-left">German Supreme Cheesy</td>
				<td class="align-left">
				{% if points.cheesy %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">German Cheesy Spicy</td>
				<td class="align-left">
				{% if points.spicy %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">Hungarian</td>
				<td class="align-left">
				{% if points.hungarian %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">Polish</td>
				<td class="align-left">
				{% if points.polish %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">Schublig</td>
				<td class="align-left">
				{% if points.schublig %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">Chicken</td>
				<td class="align-left">
				{% if points.chicken %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="align-left">Beef</td>
				<td class="align-left">
				{% if points.beef %}
					<i class="material-icons points-check">&#xE5CA;</i>
				{% endif %}
				</td>
			</tr>
	</tbody>
</table>