<div class="col-xs-12">
		<div>
				{% for option in options %}
				{{option.name}}
				<select id="{{option.name}}" class="form-control option-select">
			  	{% for id in option_item_ids %}
			  	{% for x in id %}
			  	
			  	{% for item in option_items %}
			  	{% if (option.id == x.option_id) and (item.id == x.item_id) %}
			  	<option value="{{item.id}}">{{item.name}}</option>
			  	{% endif %}
			  	{% endfor %}
			  	
			  	{% endfor %}
			  	{% endfor %}
			  	</select>
			  	{% endfor %}
		</div>
        <div class="product-price-container col-xs-6">
                <span class="product-details-label">Price</span>
                <span id="qtyPrice" class="product-details">&#8369; {{price}}</span>
        </div>
        <div class="product-stock-container col-xs-6">
                <span class="product-details-label">Stock</span>
                <span id="qtyStock" class="product-details">{{stock}}</span>
        </div>
</div>