<div class="transaction-modal-info">
    <div class="transaction-modal-info-left">
        <span>Order #{{transaction.id}}</span>
        <br />
        <br />
    </div>
    <div class="transaction-modal-info-right">
        <span>Added by {{transaction.cashier_name}}</span>
    </div>
</div>
<div class="transaction-modal-table-container">
    <h4>Customer: {{transaction.customer_name}}</h4>
    <br />
    <table class="table">
        <thead>
            <tr>
                {% if not transaction.payed %}
                <th class="align-left"></th>
                {% endif %}
                <th class="align-left">Item</th>
                <th class="align-right">Qty</th>
                <th class="align-right">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% if not transaction.payed %}
                <td id="{{item.id}}" onclick="get_item_to_delete_transaction(this.id)" class="align-left" data-toggle="modal" data-target="#deleteFromTransactionModal"><span class="glyphicon glyphicon-remove delete-from-cart"></span></td>
                {% endif %}
                <td class="align-left">{{item.item_name}}</td>
                <td class="align-right">{{item.item_qty}}</td>
                <td class="align-right">Php {{item.price}}</td>
            </tr>
            {% endfor %}
            <tr>
                {% if not transaction.payed %}
                <td class="align-left"></td>
                {% endif %}
                <td class="align-left"></td>
                <td id="payLaterTotal" class="align-right"><strong>Total</strong></td>
                <td class="align-right"><strong>Php {{transaction.total}}</strong></td>
            </tr>
            {% if transaction.payed %}
            <tr>
                <td class="align-left"></td>
                <td class="align-right">Amount Tendered</td>
                <td class="align-right">Php {{transaction.amount_tendered}}</td>
            </tr>
            <tr>
                <td class="align-left"></td>
                <td class="align-right">Change</td>
                <td class="align-right">Php {{transaction.change}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <br />
    <br />
    <div class="transaction-info-btn-container">
        {% if transaction.payed %}
        <button type="button" data-dismiss="modal" id="transactionInfoOkay" class="btn btn-primary">Okay</button>
        {% else %}
        <button type="button" id="transactionInfoPay" data-toggle="modal" data-target="#payTransactionModal" class="btn btn-success" onclick="get_tendered_later({{transaction.id}})">Pay</button>
        <button type="button" id="transactionInfoDelete" class="btn btn-danger" onclick="void_transaction({{transaction.id}})" data-toggle="modal" data-target="#voidPasswordModal">Void</button>
        <button type="button" data-dismiss="modal" id="transactionInfoClose" class="btn btn-danger">Close</button>
        {% endif %}
    </div>
</div>